target/
!.mvn/wrapper/maven-wrapper.jar
!target/classes/architecture/
!target/test-classes/architecture/

### Optionals ###
*.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.classpath
.project
.settings/
.factorypath

### Session files ###
*.txt
